.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:hover,
.navbar .navbar-nav>.active>a:focus { 
	color:rgba(255,255,255,1);
	background-color:rgba(3,169,244,.5)
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Light.ttf);
}
body {
	font-family: roboto;
}
.title {
	color: white;
	font-size: 50pt;
	margin-top:30vh;
}
.arrow-down {
	color: white;
	margin-top:10vh;
}
.box {
	width: 40%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.par-box {
	width: 80%;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}
.p-img {
	width:85%;
	height: 222px;
	margin-bottom: 30px;
}
.container {
position:relative; overflow:hidden; width:200px; height:150px;
margin-bottom: 50px;
}
.container .textbox {
position:absolute; top:0; left:0; width:200px; height:150px; margin-left:-210px;
}
.container:hover .textbox {
margin-left:0;
}
.container img {
margin-left:0;
}
.container:hover img {
margin-left:210px;
}
.text {
padding-top: 50px;
}
.container img, .textbox {
-webkit-transition: all 0.7s ease; transition: all 0.7s ease;
}
