
			<div id="d1" style="height: 60px;">
			</div>
			<div class="par-box">
				<div class="row">
					<div class="col-sm-4">
							<h2>Mission</h2>
							<p>We are working on meeting customers' requirements through coming up with intovative solutions and delieving first class products that will invade the market. 
							Furthermore, accelerating our customer digital transformation to boost business. In addition to simplifying our customer processes and product portofolio to make the life of their employees and stakeholders much easier.</p>
					</div>
					<div class="col-sm-4">
							<h2>Vision</h2>
							<p>Being the leading company in software engineering, in the coming 5 years.</p>
					</div>
					<div class="col-sm-4">
							<h2>History</h2>
							<p>ctabot has first been lauched in Jan 2015, ee are still getting introduced to market. The idea behind forming our company came from a Software engineering course that the founders were obliged to take at college. However, the company will grow beyond that course and will get introduced widely to the market afterwards. The intended actual launching of the company will be in July 2015.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="panel2" style="height: 100vh; background-color: #ffffff;">
			<div id="d2" style="height: 100px;"></div>
			
				<div class="par-box">
				<div class="row">
					<div class="col-sm-3">
						<div class="container">
							<div class="p-img">
								<img src="images/mayar.jpg" style="width: 100%; height: 100%;">
							</div>
							<div class="textbox">
								<p class="text">Name: Mayar Bassel <br />
								Major: Computer Science<br />
								Year of Study: 5th Semester <br /></p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="container">
							<div class="p-img">
								<img src="images/ans.jpg" style="width: 100%; height: 100%;">
							</div>
							<div class="textbox">
								<p class="text">Name: Mohamed Ansary <br />
								Major: Computer Science <br />
								Year of Study: 5th Semester<br /></p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="container">
							<div class="p-img">
								<img src="images/andrew.jpg" style="width: 100%; height: 100%;">
							</div>
							<div class="textbox">
								<p class="text">Name: Andrew Magdy <br />
								Major: Computer Science <br />
								Year of Study: 5th Semester<br /></p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="container">
							<div class="p-img">
								<img src="images/ha.jpg" style="width: 100%; height: 100%;">
							</div>
							<div class="textbox">
								<p class="text">Name: Omar ElHariry <br />
								Major: Computer Science <br />
								Year of Study: 5th Semester<br /></p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3">
						<div class="container">
							<div class="p-img">
								<img src="images/omar.jpg" style="width: 100%; height: 100%;">
							</div>
							<div class="textbox">
								<p class="text">Name: Omar Essam <br />
								Major: Computer Science <br />
								Year of Study: 5th Semester<br /></p></p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="container">
							<div class="p-img">
								<img src="images/bassem.jpg" style="width: 100%; height: 100%;">
							</div>
							<div class="textbox">
								<p class="text">Name: Bassem Magdy <br />
								Major: Computer Science <br />
								Year of Study: 5th Semester<br /></p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="container">
							<div class="p-img">
								<img src="images/mohab.jpg" style="width: 100%; height: 100%;">
							</div>
							<div class="textbox">
								<p class="text">Name: Mohab Ashraf <br />
								Major: Computer Science <br />
								Year of Study: 5th Semester<br /></p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="container">
							<div class="p-img">
								<img src="images/mina.jpg" style="width: 100%; height: 100%;">
							</div>
							<div class="textbox">
								<p class="text">Name: Mina Hany <br />
								Major: Computer Science <br />
								Year of Study: 5th Semester<br /></p>
							</div>
						</div>
					</div>
				</div>
				</div>
		</div>